.button{
    background-color: transparent; /* Прозорий фон */
  border: none; /* Забирає рамку */
  cursor: pointer; /* Змінює курсор на "вказівник" */
  color: inherit; /* Залишає текст того ж кольору, що й у батьківського елемента */
  padding: 0; /* Забирає відступи */
  margin: 0; /* Забирає зовнішні відступи */
}