.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.sectionName {
    color: var(--Ilona-text_light, #F4F7FF);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.reviewButtonSection {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ratingToggle{
    width: 100%;
    gap: 20px;
    display: flex;
  justify-content: flex-end;
}

.reviewButton {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #111;
    border: 1px solid var(--Ilona-accent, #FF01DD);
}

.reviewButtonText {
    color: var(--Ilona-text_light, #F4F7FF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.reviewInput{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border: none;
background-color: transparent;
color: #F4F7FF;
font-family: Montserrat, sans-serif;
font-size: 16px;
line-height: 1.2;
padding: 0 10px;
border-radius: 8px;
box-sizing: border-box;
height: 36px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.reviewFrame {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
background: var(--Ilona-bg, #111);
}

.reviewFrameItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.reviewTest1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.reviewTest2 {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.reviewTest3 {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
}

.reviewTest4 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatarIcon {

    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: url(<path-to-image>) lightgray 0px -5.322px / 100% 178.348% no-repeat;
}

.username {
    color: var(--Ilona-text_light, #F4F7FF);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reviewDate {
    color: var(--Ilona-text_grey, #808080);
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reviewDescriptionFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.reviewDescriptionText {
    color: var(--Ilona-text_light, #F4F7FF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.loadMoreButton{
    color: var(--Ilona-text_light, #F4F7FF);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}